# Archivos de entorno
.env
.env.local

# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Archivos temporales
*.tmp
*.temp

# Vercel
.vercel
